ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    margin: 10px;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;    
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.left-links {
    font-size: 24px;
    font-weight: 900;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image-box {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 460px;
    gap: 30px;
}

 /* the following mimics exactly what the reference project image created - if the desire
 is to make the website exactly like the Odin Project reference image, the following .image 
 needs to be added and the image currently in use needs to be removed. This will be the only
 code added to mimic the odin project exactly, the rest of the document creates the website using
 pictures as intended and not creating placeholders. 

.image {

    background-color: #6a7583;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
}
 */

 .image {
    display: flex;
    justify-content: center;
    align-items: center;
 }


.image-text-head {

    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-text-second-line {
    color: #e5e7eb;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
}


.image, .image-text {
    height: 230px;
    width: 500px;
    margin-bottom: 30px;
}

.box-1-button {
    display: flex;
    margin-top: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 12px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.box-2-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px;
}

.box-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    height: 355px;
    width: 170px;
    justify-content: center;
    gap: 50px;
}

.card-text {
    color: #6a7583;
}

.box-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: center;
    align-items: center;

}

.quote-main {
    display: flex;
    justify-content: center;
    width: 815px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-reference {
    display: flex;
    justify-content: end;
    width: 815px;
    display: flex;
    font-size: 26px;
    color: #1F2937;
    font-weight: 900;
}

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.call-to-action-box {
    height: 150px;
    width: 1025px;
    background: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.action-header {
    font-size: 22px;
    color: #e5e7eb;
    font-weight: 900;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.action-button {
    display: flex;
    margin-top: 10px;
    color: #e5e7eb;
    border-radius: 12px;
    outline: 2px solid #e5e7eb;
    height: 40px;
    width: 125px;
    font-size: 16px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 40px;
}

